[
    {ssms_auth, [

        % {cacertfile, "/path/to/ca.crt"},
        % {certfile, "/path/to/server.crt"},
        % {keyfile, "/path/to/server.key"},

        % {port, 8443},
        % Optional. Defaults to port 8443.

        % {db_path, "/path/to/ssms_auth/db"},
        % Optional. Defaults to the directory
        % 'priv/ssms_auth_db.bitcask' in the ssms_auth application's
        % directory. The directory will be created if not present.
    ]},

    {gcm, [
        % {cacertfile, "/path/to/ca.crt"},
        % {certfile, "/path/to/server.crt"},
        % {keyfile, "/path/to/server.key"},

        % {api_key, "GCM API TOKEN"},

        % {port, 9443}
        % Optional. Defaults to port 9443.

        % {db_path, "/path/to/ssms_auth/db"},
        % Optional. Defaults to the directory 'priv/gcm_db.bitcask' in
        % the gcm application's directory. The directory will be created
        % if not present.
    ]}
].
