[
    {ssms_auth, [
%        {db_path, "/path/to/ssms_auth/db"},
%        {cacertfile, "/path/to/ca.crt"},
%        {certfile, "/path/to/server.crt"},
%        {keyfile, "/path/to/server.key"},
        {port, 8443},
        {srp_config, srp_2048}
    ]},
    {gcm, [
%        {db_path, "/path/to/ssms_auth/db"},
%        {cacertfile, "/path/to/ca.crt"},
%        {certfile, "/path/to/server.crt"},
%        {keyfile, "/path/to/server.key"},
        {api_key, "1234"},
        {port, 9443}
    ]}
].
